package activity_views

import (
	"fmt"
	"nugu.dev/basement/pkg/models"
	layouts_view "nugu.dev/basement/views/layouts"
	"time"
)

templ Log(calendarLog []models.ActivityDayOverview, partialLog templ.Component, stats models.StatsOverview, loggedUser bool) {
	@layouts_view.StaticHome(loggedUser) {
		<h1 class="text-3xl font-semibold text-center">
			/ Habits Log / 
		</h1>
		<p class="text-center">
			At least sometimes I need to do something...
		</p>
		<div class="grid grid-cols-5 mt-3 w-full border border-gray-100">
			<p class="col-span-5 p-0.5 text-center text-black bg-gray-100">
				Category
			</p>
			<button
				hx-get="/log"
				hx-target="body"
				hx-push-url="true"
				class="p-0.5 hover:underline"
			>
				Overall
			</button>
			<button
				hx-get="/log?tab=Reading"
				hx-target="body"
				hx-push-url="true"
				class="p-0.5 hover:underline"
			>
				Reading
			</button>
			<button
				hx-get="/log?tab=Programming"
				hx-target="body"
				hx-push-url="true"
				class="p-0.5 hover:underline"
			>
				Programming
			</button>
			<button
				hx-get="/log?tab=Studying"
				hx-target="body"
				hx-push-url="true"
				class="p-0.5 hover:underline"
			>
				Studying
			</button>
			<button class="p-0.5 hover:underline">
				Other Tags
			</button>
		</div>
		<div class="flex pb-2 mt-5">
			<div
				class="grid grid-cols-1 gap-1 mr-2"
				style="grid-template-rows: repeat(7, 0.75rem);"
			>
				<span class="text-sm leading-[.9rem]">S</span>
				<span class="text-sm leading-[.9rem]">M</span>
				<span class="text-sm leading-[.9rem]">T</span>
				<span class="text-sm leading-[.9rem]">W</span>
				<span class="text-sm leading-[.9rem]">T</span>
				<span class="text-sm leading-[.9rem]">F</span>
				<span class="text-sm leading-[.9rem]">S</span>
			</div>
			<div
				class="grid overflow-y-scroll grid-flow-col gap-1 pb-2 select-none"
				style="grid-template-columns: repeat(53, 1fr);
				grid-template-rows: repeat(7, 0.75rem);"
			>
				for _, d := range calendarLog {
					<button
						hx-get={ fmt.Sprintf("log/%s?partial=true", d.Date.Format(time.DateOnly)) }
						hx-target="#detailed-log-section"
						hx-swap="outerHTML"
						class={ fmt.Sprintf("%s rounded-sm first:row-span-4 first:self-end hover:border hover:border-red-500 size-3",
							getCalendarDayBg(d.TotalSec)) }
					></button>
				}
			</div>
		</div>
		<div class="grid grid-cols-3 w-full">
			<span class="text-center">
				Daily Average: { fmt.Sprintf("%d", stats.DailyAverage) } hours
			</span>
			<span class="text-center">
				Current Streak: { fmt.Sprintf("%d", stats.CurrentStreak) } days
			</span>
			<span class="text-center">
				Longest Streak: { fmt.Sprintf("%d", stats.LongestStreak) } days
			</span>
		</div>
		<hr class="my-5 w-full"/>
		<div x-data="{ modalOpen: false }">
			@partialLog
		</div>
		<script src="/assets/js/htmx-2.0.4.min.js"></script>
		<script src="/assets/js/alpine-3.14.8.min.js"></script>
	}
}

templ NoLogSelected() {
	<div id="detailed-log-section">
		<h2 class="heading-primary">/ Day Stats</h2>
		<div>
			<p>Select a day on the heatmap for more info...</p>
		</div>
	</div>
}

func calcDate(selectedYear int, i int) string {

	r := time.Date(selectedYear, 1, 1, 0, 0, 0, 0, time.UTC)
	dur := time.Duration(i) * time.Duration(24) * time.Hour
	r = r.Add(dur)

	return r.Format(time.DateOnly)
}

func getCalendarDayBg(total int) string {

	if total >= 1 && total < 3000 {
		return "bg-red-500"
	}
	if total >= 3000 && total < 7200 {
		return "bg-green-800"
	}
	if total >= 7200 && total < 10800 {
		return "bg-green-700"
	}
	if total >= 10800 && total < 14400 {
		return "bg-green-600"
	}
	if total >= 14400 && total < 18000 {
		return "bg-green-400"
	}
	if total >= 18000 {
		return "bg-green-300"
	}
	return "bg-gray-800"
}
