package layouts_view

templ Base() {
	<!DOCTYPE html>
	<html lang="en" data-theme="dark">
		<head>
			<title>Basement</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="icon" type="image/svg+xml" href="/assets/img/favicon.ico"/>
			<link rel="stylesheet" type="text/css" href="/assets/css/tailwind_styles.css"/>
			<meta name="htmx-config" content='{"allowNestedOobSwaps":"false"}'/>
		</head>
		<body
			x-data
			hx-boost="true"
			hx-ext="response-targets"
			class="p-4 lg:px-8 lg:py-10 font-display min-h-screen w-screen flex flex-col bg-[#0F0F0F] overflow-x-hidden text-white"
		>
			{ children... }
		</body>
	</html>
}
