package layouts_view

templ StaticHome() {
	@Base() {
		<div
			class="relative mx-auto w-full bg-cover lg:w-10/12 xl:w-4/12 min-h-52"
			style="background-image: url(assets/img/banners/banner2.png);
				background-position: 0% 80%;"
		>
			<a
				href="/login"
				class="absolute right-0 w-1/12 h-1/6"
			></a>
		</div>
		<h1 class="mx-auto mt-2 text-4xl heading-primary font-kr">
			STAGING TEST
			나도 몰라...
		</h1>
		<div id="content" class="flex justify-center self-center mt-10 w-full lg:w-full xl:w-8/12">
			<div id="side" class="overflow-hidden w-1/3 border-r lg:w-2/12 mr-1/12">
				<ul>
					<span class="underline">Static Content</span>
					<li class="list-none hover:text-gray-500">
						<a href="/reads">
							Reads
						</a>
					</li>
					<li class="list-none hover:text-gray-500">
						<a href="/bookmarks">
							Bookmarks
						</a>
					</li>
				</ul>
				<hr class="my-5 w-11/12"/>
				<ul>
					<span class="underline">JS Required pages</span>
					<li class="list-none hover:text-gray-500">
						<a href="/log">Log</a>
					</li>
					<li class="list-none hover:text-gray-500">
						<a href="/gallery">Gallery</a>
					</li>
					<li class="list-none hover:text-gray-500">
						<a href="/activities">Activities</a>
					</li>
				</ul>
				<hr class="my-5 w-11/12"/>
			</div>
			<div class="flex overflow-hidden flex-col px-10 w-2/3">
				{ children... }
			</div>
		</div>
	}
}
