package secrets_view

import layouts_view "nugu.dev/basement/views/layouts"

templ Secrets(loggedUser bool) {
	@layouts_view.StaticHome(loggedUser) {
		if !loggedUser {
			@layouts_view.Unauthorized()
		} else {
			<div class="mt-2 text-xl font-semibold text-center lg:text-3xl">
				/ 
				<input
					id="master-input"
					placeholder="*********"
					autocomplete="off"
					size="8"
					class="text-center"
					type="password"
					hx-get="/auth-token"
					hx-trigger="input changed delay:200ms"
					hx-swap="none"
					hx-on::after-request="fillTokens()"
				/>
				/
			</div>
			<p class="text-center" id="display">
				It's a secret!
			</p>
			@SecretTable()
			<script type="text/javascript" src="/assets/js/clipboard.js"></script>
			<script type="text/javascript" src="/assets/js/mfa.js"></script>
			<script type="text/javascript" src="/assets/js/crypto.js"></script>
			<script type="text/javascript" src="/assets/js/htmx-2.0.4.min.js"></script>
		}
	}
}

templ SecretTable() {
	<table hx-boost="false" class="self-center mt-5 w-full border-gray-100 table-fixed lg:w-9/12">
		<tbody
			hx-get="/auth-token"
			hx-trigger="load, every 30s"
			hx-swap="none"
			hx-on::after-request="fillTokens()"
		>
			@SecretLine("aws-rapi", "AWS (Rapi)", "민지")
			@SecretLine("github", "Github", "모모")
			@SecretLine("oracle", "Oracle", "하니")
			@SecretLine("porkbun", "Porkbun", "")
			@SecretLine("hotmail", "Hotmail", "닝닝")
			@SecretLine("riot", "Riot", "윈터")
			@SecretLine("-------", "--------", "-----------")
			@SecretLine("wise", "Wise", "사나")
			@SecretLine("gmail-bacteria", "Bacteria", "다니엘")
			@SecretLine("tilde", "Tilde", "하니")
		</tbody>
	</table>
}

templ SecretLine(id, display, hint string) {
	<tr class="border border-x-0 border-b-gray-50 has-active:bg-gray-300">
		<td class="py-0 w-1/3 border-none">
			<button onclick="copyToClipboard(this);" class="text-center py-3 w-full truncate overflow-ellipsis">
				{ display }
			</button>
		</td>
		<td class="py-0 w-1/3 border-none">
			<button onclick="copyToClipboard(this);" class="text-center py-3 w-full truncate overflow-ellipsis">
				{ hint }
			</button>
		</td>
		<td class="py-0 w-1/3 border-none">
			<span id={ id } class="token-label text-center py-3 w-full truncate overflow-ellipsis">
				000 000
			</span>
		</td>
	</tr>
}

templ TokenSpan(id, token string) {
	<td id={ id } hx-ext="debug" hx-swap-oob="outerHTML" class="py-0 w-1/3 border-none">
		<span class="text-center py-3 w-full truncate overflow-ellipsis">
			{ token[0:3] } { token[3:6] }
		</span>
	</td>
}
