package static_views

import "fmt"

import layouts_view "nugu.dev/basement/views/layouts"

templ Birthdays() {
	@layouts_view.StaticHome() {
		<h1 class="text-xl font-semibold text-center lg:text-3xl">
			/ Birthdays / 
		</h1>
		<p class="text-center" id="display">
			생일 축하합니다~
		</p>
		<table class="self-center mt-5 w-full border-gray-100 table-fixed lg:w-9/12">
			<caption class="py-1 text-center text-black bg-gray-100">
				트와이스
			</caption>

			@BirthdayLine("임나연", "1995", "09", "22", "토")
			@BirthdayLine("유정연", "1996", "11", "01", "금")
			@BirthdayLine("모모", "1996", "11", "09", "토")
			@BirthdayLine("사나", "1996", "12", "29", "일")
			@BirthdayLine("박지효", "1997", "02", "01", "토")
			@BirthdayLine("미나", "1997", "03", "24", "월")
			@BirthdayLine("김다현", "1998", "05", "28", "목")
			@BirthdayLine("손채영", "1999", "04", "23", "금")
			@BirthdayLine("쯔위", "1999", "06", "14", "월")
		</table>

		<table class="self-center w-full border-gray-100 table-fixed lg:w-9/12">
			<caption class="py-1 text-lg text-center text-black bg-gray-100">
				에스파
			</caption>

			@BirthdayLine("카리나", "2000", "04", "11", "화")
			@BirthdayLine("지젤", "2000", "10", "30", "월")
			@BirthdayLine("윈터", "2001", "01", "01", "월")
			@BirthdayLine("닝닝", "2002", "10", "23", "수")
		</table>

		<table class="self-center w-full border-gray-100 table-fixed md:w-9/12">
			<caption class="py-1 text-lg text-center text-black bg-gray-100">
				뉴진스
			</caption>

			@BirthdayLine("민지", "2004", "05", "07", "금")
			@BirthdayLine("하니", "2004", "10", "06", "수")
			@BirthdayLine("다니엘", "2005", "04", "11", "월")
			@BirthdayLine("해린", "2006", "05", "15", "월")
			@BirthdayLine("혜인", "2008", "04", "21", "월")
		</table>

		<script type="text/javascript" src="/assets/js/clipboard.js"></script>
	}
}

templ BirthdayLine(member string, y, m, d, wd string) {
	<tr class="border border-x-0 border-b-gray-50 has-[:active]:bg-gray-300">
		<td class="py-0 border-none">
			<button 
				data-name={member}
				data-value={fmt.Sprintf("%s%s%s", m, d, y)}
				onclick="copyToClipboard(this);"
				class="py-3 w-full truncate overflow-ellipsis"
			>
				{member}
			</button>
		</td>
		<td class="py-0 border-none">
			<button 
				data-name={member}
				data-value={fmt.Sprintf("%s%s%s", m, d, y)}
				onclick="copyToClipboard(this);"
				class="py-3 w-full truncate overflow-ellipsis"
			>
				{fmt.Sprintf("%s년 %s월 %s일 (%s)", y, m, d, wd)}
			</button>
		</td>
	</tr>
}
