package static_views

import layouts_view "nugu.dev/basement/views/layouts"

templ Bookmarks(loggedUser bool) {
	@layouts_view.StaticHome(loggedUser) {
		<h1 id="videos" class="text-3xl font-semibold">
			Bookmarks
		</h1>
		<p>
			These are just some random links I found on the internet.
			Some of them I already read and are here just in case.
			Maybe someday I'll read the rest. The order doesn't matter,
			first doesn't mean best.
		</p>
		<h2 id="videos" class="mt-5 heading-primary">
			Videos
		</h2>
		<ul class="w-full list-inside">
			<li>
				[ ]
				<a
					class="underline"
					href="https://www.youtube.com/watch?v=z56jmr9z34q
					&list=plyzovjj3bhqulokgg59rs43e29ro7i57j&index=3"
				>
					MIT CS Classes
				</a>
			</li>
			<li>
				[ ]
				<a
					class="underline"
					href="https://www.youtube.com/watch?v=HaBMAD-Dr8M
					&list=PLnAxReCloSeTJc8ZGogzjtCtXl_eE6yzA"
				>
					How Computers Work - Building Scott&#39;s CPU
				</a>
			</li>
		</ul>
		<h2 id="full-blogs" class="mt-5 heading-primary">
			Full Blogs
		</h2>
		<ul class="w-full list-inside">
			<li><a href="https://anishathalye.com/">Anish Athalye (MIT)</a></li>
			<li><a href="https://thesquareplanet.com/blog/">Jon Gjengset (MIT)</a></li>
			<li><a href="https://sizeof.cat/">sizeof(cat)</a></li>
		</ul>
		<h2 id="full-blogs" class="mt-5 heading-primary">
			Blog Posts
		</h2>
		<ul class="w-full list-inside">
			<li>
				[ ]
				<a class="underline" href="https://deno.com/blog/http-imports">
					What we got wrong about HTTP imports
				</a>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://anishathalye.com/managing-your-dotfiles/">
						Managing your dotfiles
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://thesquareplanet.com/blog/eisenhower-vectors/">
						Eisenhower Vectors
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://thesquareplanet.com/blog/how-the-internet-works/">
						How the internet works
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="line-through" href="https://ismailefe.org/blog/why_use_emacs/">
						Why use emacs
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://blog.teamtreehouse.com/go-interfaces-awesome">
						Go Interfaces are awesome
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://benhoyt.com/writings/how-to-apply/">
						How (not) to apply for a software job
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://benhoyt.com/writings/go-routing/">
						Different approaches to HTTP routing in Go
					</a>
				</span>
			</li>
			<li>
				<span>
					[ ]
					<a class="underline" href="https://www.0x65.dev/blog/2019-12-06/building-a-search-engine-from-scratch.html">
						Building a search engine from scratch
					</a>
				</span>
			</li>
		</ul>
	}
}
